@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #2e2e2e;
  --background: #fafafa;
}

body {
  @apply dark:bg-[var(--background-dark)] bg-[var(--background)]
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}
